<div id="nav">
    <div class="nav_Block">
        <div class="nav_Logo"><a href="{{url_for('indexViews.indexPage')}}">IPSAM</a></div>
        <div class="nav_List">
            <ul class="menu">
                <li class="nav_Child"><form id="search" method="get" action="{{url_for('indexViews.Search')}}">
                    <label type="text" class="Search_label">
                        <input type="text" class="form-control" name="keyword" placeholder="输入关键字搜索">
                    </label>
                    <select name="mode" id="Search_S" class="selectpicker" data-style="btn-primary selectTop" data-width="150px">
                        <option value="all" selected>模糊搜索</option>
                        <option value="IPSource">IP来源单位</option>
                        <option value="StartIP">起始IP</option>
                        <option value="EndIP">终止IP</option>
                        <option value="Citys">所属地址</option>
                        <option value="mRoom">所属机房</option>
                        <option value="User">用户</option>
                    </select>
                    <button class="btn btn-default">搜索</button>
                </form></li>
                <li class="nav_Child"><a class="btn btn-default" href="#">添加新IP</a></li>
                <li class="nav_Child">
                    <div id="funMenu" class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            其他功能 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">导入CSV</a></li>
                        <li><a href="#">导出CSV</a></li>
                        </ul>
                    </div></li>
            </ul>
        </div>
    </div>
</div>