{% extends "baseout.html" %}{%import '_macros.html' as macros%}{% block title %}IPRMS{% endblock %}{% block content -%}
{% block headNav %}
<div class="keyword">
        <span>省市信息总览</span>
    </div>
{% endblock %}
<div id="content">
    <div class="pUBlock">
        <div class="pTable">
            <div class="pTable_head">
                <table class="table table-hover p_fixed">
                    <thead>
                        <tr>
                            <th>
                                <input id="checkboxall" type="checkbox" name="oper_all">
                            </th>
                            <th>ID</th>
                            <th>
                                省/直辖市/自治区
                            </th>
                            <th>
                                地市州
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="pTable_body">
                <table class="table table-hover p_fix_down">
                    <tbody>
                        {% for pData in pDatas %}
                        <tr>
                            <td>
                                <input id="oper-{{ pData.ID }}" type="checkbox" name="oper" value="{{ pData.ID }}" />
                            </td>
                            <td>{{ pData.ID }}</td>
                            <td>{{ pData.Provinces }}</td>
                            <td>{{ pData.City }}</td>
                            <td><button onclick="javascript:Pvs_ModfiyLayer('{{ pData.ID }}', 'get')" type="button" class="btn btn-link inline_button_link">管理</button> | <button onclick="javascript:Pvs_Delete('{{ pData.ID }}')" type="button" class="btn btn-link inline_button_link">删除</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clenfix"></div>
    <div class="bottomBar">
        <div class="all_downlist">
            <div class="dropdown">
                <select id="OPSelect" name="action" id="bulk-action-selector-top">
                    <option value="-1">批量操作</option>
                    <option value="modify">管理</option>
                    <option value="delete">删除</option>
                </select>
            </div>
            <button onclick="javascript:Pvs_OP(getCheckBoxID())" id="iopearbutton" class="btn btn-primary">应用</button>
        </div>
        <div class="totalNum">
                <span>共计 {{ totalNum }} 条</span>
            </div>
        <div class="pagination">
            {%if pagination%} {{macros.paginate(pagination,'sysOption.provincesView')}} {%endif%}
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.pTable').css({
            'height': $('.pTable_body').css('height')
        });
        var height = parseInt($('.pTable').css("height")) + 50 + "px"
        $('.pUBlock').css({
            'height': height
        });
    })
    $(function () {
        $('#transfer').click(function () {
            var page = $('#transfer_page').val();
            window.location.href = "{{url_for('sysOption.provincesView')}}" + "?page=" + page;
        })
    })
</script>

{%- endblock -%}
