{% extends "base.html" %}{% block title %}IPRMS{% endblock %}{% block content -%}
<div id="content_layer">
    <div id="provinces_block">
        <table id="provinces_table">
            <tbody>
                <tr class="provinces_ntr">
                    <td class="provinces_ntd">
                            <table class="provinces_nLine">
                                    <thead>
                                        <tr class="provinces_trh">
                                            <th>序号</th>
                                            <th>省/直辖市/自治区</th>
                                            <th>地级市</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pData in pDatas %}
                                        <tr class="provinces_modinput">
                                            <td>
                                                <label class="PvsModifyInput" id="id_province">{{ pData.ID }}</label>
                                            </td>
                                            <td>
                                                <input class="PvsModifyInput" type="text" id="input_province" value="{{ pData.Provinces }}">
                                            </td>
                                            <td>
                                                <input class="PvsModifyInput" type="text" id="input_city" value="{{ pData.City }}">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="buttonLinue">
            <button class="btn btn-primary pPushButton" onclick="javascript:Pvs_GetDataModify()">修改数据</button>
        </div>
        
    </div>
</div>
{%- endblock -%}