{% extends "base.html" %}{%import '_macros.html' as macros%}{% block title %}IPSAM{% endblock %}{% block content -%}{% include "nav.html" %}
<div id="content">
    <div class="pTable">
        <div class="pTable_head">
            <table class="table table-hover p_fixed">
                <thead>
                    <tr>
                        <th>
                            <input id="checkboxall" type="checkbox" name="oper_all">
                        </th>
                        <th>
                            省/直辖市/自治区
                        </th>
                        <th>
                            地市州
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="pTable_body">
            <table class="table table-hover p_fix_down">
                <tbody>
                    {% for pData in pDatas %}
                    <tr>
                        <td><input id="oper" type="checkbox" name="oper" value="1" /></td>
                        <td>{{ pData.Provinces }}</td>
                        <td>{{ pData.City }}</td>
                        <td>管理 | 删除</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="clenfix"></div>
    <div class="pagination">
            {%if pagination%} {{macros.paginate(pagination,'sysOption.provincesView')}} {%endif%}
        </div>
</div>

<script type="text/javascript">
    $(function(){
        $('.pTable').css({ 
            'width':$('.pTable_body').css('width'),//获取子元素的宽度
            'height':$('.pTable_body').css('height') //获取子元素的高度
        });
    })
    $(function() {
            $('#transfer').click(function() {
                var page = $('#transfer_page').val();
                window.location.href = "{{url_for('sysOption.provincesView')}}" + "?page=" + page;
            })
        })
        
</script>

{%- endblock -%}
