{% extends "base.html" %}{% block title %}IPSAM{% endblock %}{% block content -%}
<div id="content_layer">
    <div id="provinces_block">
        <table id="provinces_table">
            <tbody>
                <tr class="provinces_ntr">
                    <td class="provinces_ntd">
                            <table class="provinces_nLine">
                                    <thead>
                                        <tr class="provinces_trh">
                                            <th>省/直辖市/自治区</th>
                                            <th>地级市</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="provinces_trinput">
                                            <td>
                                                <input type="text" id="input_province">
                                            </td>
                                            <td>
                                                <input type="text" id="input_city">
                                            </td>
                                            <td>
                                                <a class="addspan">
                                                    <button class="glyphicon glyphicon-plus" aria-hidden="true" onclick="javascript:pCopy(this)"></button>
                                                </a>
                                                <a class="delspan">
                                                    <button class="glyphicon glyphicon-minus" aria-hidden="true" onclick="javascript:pDel(this)"></button>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="buttonLinue">
            <button class="btn btn-primary pPushButton" onclick="javascript:provincesPush()">添加数据</button>
        </div>
        
    </div>
</div>
{%- endblock -%}