{% extends "baseout.html" %}{% block title %}IPRMS{% endblock %}{% block content -%}

{% block headNav %}
<div class="keyword">
        <span class="S_Model">{{ Model }} </span><span> 关键字： {{ keyword  }}</span>
    </div>
{% endblock %}
<div id="content_w">
    {% include "table.html" %}
</div>
<script type="text/javascript">
    $(function () {
            $('.ipResTable').css({
                'height': $('.ipResTable_body').css('height')
            });
            var height = parseInt($('.ipResTable').css("height")) + 50 + "px"
            $('.pUBlock').css({
                'height': height
            });
        })
    $(function () {
        $('#transfer').click(function () {
            var page = $('#transfer_page').val();
            window.location.href = "{{url_for('indexViews.indexPage')}}" + "?page=" + page;
        })
    })
</script>
{%- endblock -%}