<div class="resTable">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>序号</th>
                <th>IP来源单位</th>
                <th>起始IP地址</th>
                <th>终止IP地址</th>
                <th>所属市州</th>
                <th>所属机房</th>
                <th>市州专线用户</th>
                <th>专线用户使用IP地址</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>四川省移动</td>
                <td>123.123.123.123</td>
                <td>123.123.123.123</td>
                <td>四川省成都市</td>
                <td></td>
                <td>XXXX集团用户</td>
                <td>123.123.123.123</td>
                <td>管理|删除</td>
            </tr>
        </tbody>

    </table>
</div>